<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    ini adalah halaman capsule
    <br>
    <br>
    <a href="/capsule/math" class="btn btn"
        style="text-decoration: none; color: white; font-size: 1.25rem; padding: 10px 20px;margin-top: 0; margin-left: -20px; width: 300px; background-color:#ADD8E6;">
        math
    </a>
    <a href="/capsule/capsule" class="btn btn"
        style="text-decoration: none; color: white; font-size: 1.25rem; padding: 10px 20px;margin-top: 0; margin-left: -20px; width: 300px; background-color:orange;">
        capsule
    </a>
</body>

</html>