/* .bg-login {
 
   background-image: url(../img/bg.jpg);
   height: 90%;
   overflow: hidden;
   scrollbar-width: none;
   z-index: ;
} */
.warna { color:#ADD8E6, #000080 , o	#D2B48C , o	#FFD700 , o	#800000 , o	#808000 , o	#D3D3D3  ;

}



.bg-login {
   
   height: 90%;
   overflow: hidden;
   scrollbar-width: none;
   border-radius: 25%;
}
.container {
   width:100%;
   padding-right:.75rem;
   padding-left:.75rem;
   margin-right:auto;
   margin-left:auto
}
.bg-tp {
   
   background-color: aqua;
}
