{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body >
    <a class="nav-link" href="/dashboard">
        <i> <img src="{% static 'img/back.svg' %}" alt="back" style="text-align: center; background-color:orange;"></i>

    </a>
    <br>
    <br>
    ini adalah halaman capsule
    <br>
    <br>
    <a href="/capsule/capsule/lcv" class="btn btn"
        style="text-decoration: none; color: white; font-size: 1.25rem; padding: 10px 20px;margin-top: 0; margin-left: -20px; width: 300px; background-color:orange;">
        buka capsule hari ini
    </a>
</body>

</html>